.schedule .filters {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin-top: 50px;
}

.schedule .filters li {
  color: #fff;
  padding: 10px 25px;
  background: #191919;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}

.schedule .filters li:hover,
.schedule .filters li.active {
  background: var(--primary);
}

section .section-title {
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-left: 5px;
}
